<div>
  <h4><%= link_to post.title, user_post_path(post.user_id, post) %></h4>
  <p><%= post.text %></p>
  <ul>
      <li>Comments: <%= post.comments_counter%></li>
      <li>Likes: <%= post.likes_counter%></li>
  </ul>
  
   <% if can? :destroy, post %>
      <%= button_to "Delete", user_post_path(post.user_id, post), method: :delete %>
    <% end %>
 
    <%= render partial: "comments/comment", locals: { comments: post.recent_comments } %>
</div>